<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <!-- <link rel="stylesheet" href="style.css">
    </style> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        :root {
            --primary-color: black;
            --secondary-color: white;
            --accent-color: grey;

            /* background gradient  */

            --primary-gradient-dark: rgb(237, 95, 1);
            --primary-gradient-light: skyblue;
            --secondary-gradient: rgb(33, 33, 33);

            --bg-gradient-tp: var(--primary-gradient-light);
            --bg-gradient-bt: var(--secondary-gradient);

            /* color mode btn */

            --mode-color-light: black;
            --mode-color-dark: rgb(87, 87, 87);

            --mode-color: var(--mode-color-light);

            /* nav link hover color */

            --nav-link-hover-dark: white;
            --nav-link-hover-light: black;

            --nav-link-hover: var(--nav-link-hover-light);
        }

        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;

            transition: 0.10s ease-in-out;
        }

        body {
            /* background-color: rgb(243, 243, 243); */
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(var(--bg-gradient-tp), var(--bg-gradient-bt));
            height: 100vh;

            overflow: hidden;
        }

        h2 {
            font-size: 2rem;
            color: rgb(255, 255, 255);
            text-align: center;
            margin-block: 20px;

        }

        li {
            list-style: none;
        }

        .flex {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        nav {
            background-color: var(--secondary-color);
            padding: 15px 20px;

            gap: 40px;
        }

        nav .nav-link:hover {
            color: var(--nav-link-hover);
            cursor: pointer;
        }

        nav>div:first-child {
            font-weight: bold;
            font-size: 1.8rem;

            gap: 10px;
        }

        nav>div:nth-child(2) {
            gap: 20px;

            font-size: 1.5rem;
        }

        .tweets-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-top: 2px;
            height: 75%;

            overflow-y: scroll;
        }

        .tweet-wrapper {
            width: 70%;
            max-width: 450px;
            margin: 0 auto;
            flex-wrap: nowrap;

            transition: 0.3s ease-in-out;
        }

        img.profile-icon {
            width: 45px;
            height: 45px;
            object-fit: cover;
        }

        img.twitter-icon {
            width: 23px;
            height: 23px;
            object-fit: cover;
        }

        .tweet-contents {
            flex-direction: column;
            align-items: start;

            background-color: var(--secondary-color);
            color: var(--primary-color);

            font-size: 1rem;
            gap: 0.7em;

            width: 100%;

            padding: 1em 2em;
            margin: 0 auto;
            border-radius: 0.5em;

            box-shadow: 0 0 5px 0px rgba(12, 12, 12, 0.4);

        }

        .tweet-wrapper:hover {
            transform: scale(1.05);
            cursor: pointer;
        }

        .tweet-header {
            width: 100%;
            justify-content: space-between;
        }

        .profile-info {
            gap: 0.5em;
        }

        .tweet-timing {
            gap: 0.25em;
        }

        p.username {
            font-weight: bold;
        }

        p:not(.tweet) {
            font-size: 0.8em;
            color: var(--accent-color);
        }

        .tweet-btns {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .img-btn {
            width: 25px;
            height: 25px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.642);
        }

        .btn {
            background-color: transparent;
            border: none;
            margin-left: 5px;
        }

        .btn>i {
            font-size: 20px;
            color: black;
        }

        .btn:hover>i {
            color: white;
        }

        .btn:hover {
            cursor: pointer;
        }

        .selected {
            border-bottom: 2px solid black;
        }

        .mode {
            border: 2px solid black;
            width: 44px;
            height: 24px;
            background-color: var(--mode-color);
            border-radius: 10%;

            position: relative;
            transition: 0.35s ease-in-out;

        }

        .square {
            position: absolute;
            background-color: rgb(255, 230, 69);

            width: 18px;
            height: 16px;

            left: 2px;
            top: 2px;

            border-radius: 10%;

            transition: 0.35s ease-in-out;

        }

        .square.dark {
            transform: translateX(100%);
        }

        .mode:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <nav class="flex">
        <div class="project-name flex">
            <p class="title">CRUD on</p>
            <img src="./assets/twitter.png" alt="" class="twitter-icon">
        </div>
        <div class="nav-links flex">
            <p class="nav-link selected">Home</p>
            <p class="nav-link">Create</p>
            <p class="mode">
                <span class="square light"></span>
            </p>
        </div>
    </nav>
    <h2>All Tweets</h2>
    <section class="tweets-container">
        <% for(let comment of comments) { %>
            <div class="tweet-wrapper flex">
                <div class="tweet-contents flex">
                    <div class="tweet-header flex">
                        <div class="profile-info flex">
                            <img src="./assets/<%= comment.image %>" alt="" class="profile-icon">
                            <h3 class="user">
                                <%= comment.user %>
                            </h3>
                            <p class="username">
                                <%= comment.username %>
                            </p>
                        </div>
                        <img src="./assets/twitter.png" alt="" class="twitter-icon">
                    </div>
                    <p class="tweet">
                        <%= comment.comment %>
                    </p>
                    <div class="tweet-timing flex">
                        <p class="tweet-time">
                            <%= comment.time %>
                        </p>
                        <p>&#183;</p>
                        <p class="tweet-date">
                            <%= comment.date %>
                        </p>
                    </div>
                </div>
                <div class="tweet-btns">
                    <!-- <form action="">
                        <button class="btn primary-btn"><img class="img-btn" src="./assets/pencil.png" alt=""></button>
                    </form> -->
                    <form action="/comments/<%= comment.sn %>?_method=DELETE" method="POST">
                        <button class="btn secondary-btn"><i class='fa fa-trash'></i></button>
                    </form>
                </div>
            </div>

            <% } %>
    </section>
    <script src="nav.js"></script>
</body>

</html>